i386
machine
opt_global.h
x86
.depend.exfat_access.o
.depend.exfat_dir.o
.depend.exfat_direntry.o
.depend.exfat_extattr.o
.depend.exfat_fat.o
.depend.exfat_lookup.o
.depend.exfat_node.o
.depend.exfat_upcase.o
.depend.exfat_utf16.o
.depend.exfat_util.o
.depend.exfat_vfsops.o
.depend.exfat_vnops.o
.depend.exfat_volume.o
exfat.ko
exfat_access.o
exfat_dir.o
exfat_direntry.o
exfat_extattr.o
exfat_fat.o
exfat_lookup.o
exfat_node.o
exfat_upcase.o
exfat_utf16.o
exfat_util.o
exfat_vfsops.o
exfat_vnops.o
exfat_volume.o
export_syms
vnode_if.h
vnode_if_newproto.h
vnode_if_typedef.h
